* {
    border: 0;
    margin: 100;
    padding: 0;
}

.color, .selected {
    border: 1px solid black;
    display: inline-block;
    height: 50px;
    width: 50px;
    margin: 0;
}

/* .container-center {
    border: 3px solid orange;
    padding: 10px;
}
 */
.linha-pixel {
    display: flexbox;
    flex-direction: column;
    max-width: 300px;
    /* max-width: calc(40px * 7); */
}

#palette1 {
    background-color: black;
}

#palette2 {
    background-color: red;
}

#palette3 {
    background-color: blue;
}

#palette4 {
    background-color: green;
}

.pixel {
    background-color: white;
    border: 1px solid black;
    height: 40px;
    width: 40px;
    float:left;
    padding: 5px;
}

#pixel-board {
    align-items: center;
    min-height: 300px;
    margin: 0;
    width: 100%;
}
